<div class="container">
  <div class="row">
    <div class="top-message col-md-offset-2 col-md-8">
      <h3>Follower Users</h3>
      <table class="table table-hover">
       <thead>
      <tr>
       <th>image</th>
       <th>name</th>
       <th colspan="3"></th>
       </tr>
      </thead>
      <tbody>
       <% @user.follower_user.where.not(id: current_user.id).each do |users| %>

        <tr>
          <td>
           <%= attachment_image_tag users, :profile_image, size:"100x100", format:"jpeg", fallback: "no_image.jpg" %>

          </td>
          <td>
            <%= users.name %>
          </td>
          <td>
            フォロー数： <%= users.following_user.count %>
          </td>
          <td> 
            フォロワー数: <%= users.follower_user.count %>
              
          </td>
          <td>
            <% if current_user.following?(users) %>
             <%= link_to 'フォロー外す', unfollow_path(users.id), method: :POST %>
            <% else %>
             <%= link_to 'フォローする', follow_path(users.id), method: :POST %>
            <% end %>
          </td>
          <td>
           <%= link_to 'Show', user_path(users.id) %>
          </td>
        </tr>
        <% end %>
      </tbody>
     </table>

    </div>
  </div>
 </div>